#data
proyecto_sibundoy/datos/salida
proyecto_sibundoy/datos/salida/*
proyecto_sibundoy/modelos
proyecto_sibundoy/datos/entrada/1_covariables/color/*
proyecto_sibundoy/exploratorio
proyecto_sibundoy/exploratorio/*

#model
*.pickle
.pickle

#notebooks
*.ipynb
.ipynb_checkpoints

#others
.DS_Store
.idea/

#R files
*.RData
*.Rapp.history
*.Rhistory