#data
proyecto_sibundoy/datos/salida
proyecto_sibundoy/datos/salida/*
proyecto_sibundoy/modelos
proyecto_sibundoy/datos/entrada/1_covariables/color/*
proyecto_sibundoy/exploratorio
proyecto_sibundoy/exploratorio/*
proyecto_cesarmagdalena/datos/entrada/1_covariables/*
desarrollo/*
*.csv
*.rds
*.RData

#model
*.pickle
.pickle

#notebooks
*.ipynb
.ipynb_checkpoints

#others
.DS_Store
.idea/

#R files
*.Rapp.history
*.Rhistory